* {
    font-family: 'Josefin Sans', sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
html body {
    min-height: 1036px; 
}

.header {
        height: 130px;
}
.header-main {
    width: 150px;
    font-size: 30px;
    text-align: center;
    display: flex;
    color:  #517cbe;
    margin: auto;
    
}
.nav {
    height: 80px;
    display: flex;
}

.nav li  {
    list-style: none;
    font-size: 20px;
    width: 426px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 25px;
    
}

#sl:hover {
    cursor: pointer;
    color:  #517cbe;
}
#ml:hover {
    color:  #517cbe;
    cursor: pointer;
}
#rel_ant:hover {
    color:  #517cbe;
    cursor: pointer;
}

.nav-item { 
    font-weight: bolder;
   margin: auto;
    height: 25px;
    color: rgba(0, 0, 0, 0.6); }


.body-main {
    margin-top: 20px;
    width: 100%;
    min-height: 1036px; 
    max-height: 100%;
    background-color:  rgba(0, 0, 0, 0.09);  
    padding-bottom: 20px;
}
.search-bar {
    display: inline-flex;
    margin-left: 90px;
}
#search-input {
    width: 300px;
    height: 30px;
    margin-left: 450px;
    margin-top: 40px;
    font-size: 15px;
    border-radius: 2px  2px 2px 2px;
    border: 1px solid ;
    border-color: #517cbe;
}

.ti-search:before {
    color: #000;
    border: 3px;
    margin-top: 48px;
    margin-left: 10px;
    position: absolute;
    cursor: pointer;
    font-size:medium;
    font-weight: bolder;
    
}
.ti-close {
    position: absolute;
    margin-top: -20px;
    margin-left: 730px;
    font-size: x-small;
    display: none;
    cursor: pointer;
}
.ti-search {
    font-size: 12px;
    color: #fff;
    margin: auto;
   
}
.content {
    display: flex;
    flex-direction: column;
}
.list-search {
   
    margin-top: 50px;
    margin-left: 90px;
    display: none;
  
}
.render-search {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 150px;
}
.render-search li {
  
    font-size: 17px;
   margin-top: 10px;
   
}
.active {
     color: #517cbe;
}
.error-search {
    margin-top: 30px;
    margin-left: 200px;
    font-size: 18px;
    font-weight: bolder;
    color: #517cbe;
    font-size: 15px;
}
.render-search p {
    color:  #517cbe;
}
.render-search li {
    color:  #0f8155;
    font-size: 15px;
    font-weight: 550;
    
}
.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
    
  }
  .loader {
    display: none;
    color: #517cbe;
    font-size: 7px;
    position: absolute;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    margin-left:690px;
    margin-top: 50px;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }

